<h1>餐廳</h1>

<br />
<br />

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">detail</th>
    </tr>
  </thead>
  <tbody>
    {{#each restaurants}}
      <tr>
        <th scope="row">{{this.id}}</th>
        <td>{{this.name}}</td>  
        <td>
          <button type="button" class="btn btn-link">
            <a href="/restaurants/{{this.id}}">
              details
            </a>
          </button>
        </td>   
      </tr>
    {{/each}}

  </tbody>
</table>